@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MeieScript';
  src: url("/assets/fonts/MeieScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'birds';
  src: url("/assets/fonts/Birds.ttf") format("truetype");
}

body {
  background-image: linear-gradient(to top right, #34170DFA, #A7795ECE), url('/assets/images/bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.text-script {
  font-family: 'birds'!important;
}

.text-times {
  font-family: 'Times New Roman', Times, serif;
}

html {
  font-family: 'century gothic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page {
  background-color: rgb(253, 244, 223) !important;
  color: rgb(89, 89, 89) !important;
  border: solid 1px rgb(223, 213, 203) !important;
  overflow: hidden!important;
}
.page.--left {
  border-right: 0px!important;
  box-shadow: inset -7px 0 30px -7px rgba(0,0,0,.4);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.page.--right {
  border-left: 0px!important;
  box-shadow: inset 7px 0 30px -7px rgba(0,0,0,.4);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.page.page-cover.page-cover-bottom {
  box-shadow: inset 0 0 30px 0 rgba(36,10,3,.5),10px 0 8px 0 rgba(0,0,0,.4);
}

.page.page-cover.page-cover-top {
  box-shadow: inset 0 0 30px 0 rgba(36,10,3,.5),-2px 0 5px 2px rgba(0,0,0,.4);
}

.text-hollow {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #34170D;
}

.flip-countdown.size-medium .flip-countdown-piece {
  margin: 1em!important;
}

.flip-countdown-title {
  font-family: 'century gothic', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
}

img.high-exposure {
  filter: saturate(200%);
  -webkit-filter: saturate(200%);
}